*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;;
}
body{
    background: #080808;
    color: #fff;
    max-width: 100%;
    overflow-x: hidden;

}
#header {
    width: 100%;
    height: 100vh; 
    background-image: url(image/houcine2.png);
    background-size: cover;
    background-position: center;
    position: relative; 
    filter: brightness(0.8);
}

.header-text {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-130%, -100%); 
    text-align: center;
    z-index: 1; 
    background-color: rgba(0, 0, 0, 0.6); 
    padding: 20px 40px;
    border-radius: 10px; 
    max-width: 60%; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); 
    color: #fff; 
}
.header-text span{
    color :#ff004f;
}


nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    padding: 0 20px;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0 60%;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    display: inline-block;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%; 
}
.container {
    padding: 10px 20px;
    background-color: #121212;
    color: #fff;
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: stretch; /* Alignement vertical */
    flex-wrap: wrap;
    gap: 20px; /* Espacement entre les colonnes */
}
.about-col-1, .about-col-2 {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.about-col-1 {
    flex: 1;
    padding: 20px;
    max-width: 400px; /* Limite la taille de l'image */
}

.about-col-1 img {
    width: 100%;
    height: 100%;
    margin-top: 15%;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(175, 160, 160, 0.5);
    transition: transform 0.3s ease-in-out; /* Effet au survol */
}

.about-col-1 img:hover {
    transform: scale(1.05); /* Zoom léger sur l'image */
}

.about-col-2 {
    
    flex: 1; /* Rend cette colonne deux fois plus grande que l'image */
    max-width: 1000px; /* Limite la largeur maximale du texte */
    padding: 20px;
}
.about-col-2 h1 {
    padding-left: 35%;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: underline;
}

.about-col-2 h2 {
    padding-top: 30px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right:50px;
    font-size:18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.about-col-2 .tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
.about-col-2 .active-link::after {
    width: 50%; 
}
.about-col-2 .skills_nav::after{
    width:50%;
}
.about-col-2 .tab-links:hover::after {
    width: 100%; 
}
.about-col-2 .tab-contents h3 {

    color: rgb(32, 218, 103);
    text-transform: uppercase;
}

.about-col-2 .tab-contents p {
    line-height: 1.6;
    font-size: 18px;
    
    margin-bottom: 10px;
    color: #ddd;
}

.about-col-2 p span {
    color: #ff004f;
    font-weight: bold;
}

.tab-titles{
    display : flex;
    margin : 20px 0 40px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab
{
    display: block;
}
.grid ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Grille responsive */
    gap: 10px;  /* Espacement entre les éléments */
    padding: 0;
    list-style: none;
}

.grid li {
    background-color: #121212; /* Dark gray card background */
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(245, 241, 241, 0.5);
    color: #ffcc00; /* Set text color for the grid items */
}

/* Title inside the card */
.grid h3 {
    color: #ff004f; /* Red color for titles */
    font-size: 18px;
    margin-bottom: 10px;
}

/* Paragraph inside the card */
.grid p {
    color: #ffffff; /* White text inside the card */
    font-size: 16px;
    line-height: 1.5;
    white-space: normal;
    word-spacing: normal;
}
.grid li:hover {
    transform: scale(1.1); /* Zoom in by 10% */
    transition: transform 0.3s ease-in-out;
}
.sub-title{
    text-align: center;
    padding-top: 50px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: underline;
}
.project-list{
    display:grid;
    grid-template-columns: repeat(3,minmax(200px,1fr));
    grid-gap:40px;
    place-items: center;
    margin-top: 50px;
}
.project{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.project img {
    width: 400px;
    height: 300px;
    border-radius: 10px;
    display: block;
    object-fit: cover;
    transition: 0.5s;
}
.layer{
    width: 100%;
    height:0;
    background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
    border-radius: 10px;
    position:absolute;
    left:0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
}
.layer p{
    font-size: 14px;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.project:hover img{
    transform: scale(1.1);
}
.project:hover .layer{
    height: 100%;
    transition: 0.5s;
}
.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color:white;
   
}
.btn:hover{
    background: #ff004f;
    transition: 0.5s;
}

/* ------contact-------*/
.contact-left{
    flex-basis:35%;
}
.contact-right{
    flex-basis:60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size:25px;
}
.contact-left h1{
    text-decoration: none;
}
.social-icons{
    margin-top:30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #ff004f;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border:0;
    outline:none;
    background: #262626;
    padding: 15px;
    margin:15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding : 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    
}
/*-----------------css for small screen-------------------*/
/* ----------- Écrans ≤ 400px ----------- */
@media (max-width: 400px) {
    /* Navigation */
    nav ul {
        display: flex; /* Utilisation de flexbox pour aligner les éléments horizontalement */
        justify-content: center; /* Centre les éléments horizontalement */
        gap: 20px; /* Espacement entre les éléments */
        list-style: none;
        padding: 0;
        gap: 30px;
        margin: 20px auto 0 auto; /* Espace en haut de la page */
    }
    /* Header Text */
    .header-text {
        position: relative;
        top: -20%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 90%;
        max-width: 400px;
        padding: 10px;
        z-index: 1;
    }

    nav ul li {
        margin: 0;
    }

    nav ul li a {
        color: #fff;
        text-decoration: none;
        font-size: 14px;
    }
}
@media (max-width:600){
    .row {
        flex-direction: column;
        gap: 30px;
    }

    .about-col-1 img {
        margin-top: 0;
    }

    .project-list {
        grid-template-columns: 1fr;
    }
}
/* ----------- Écrans ≤ 600px ----------- */
@media (max-width: 600px) {
    #header {
        background-image: url('image/houcine phone.png');
        width: 120%;
        
    }

    .header-text {
        margin-top: 100%;
        font-size: 16px;
    }

    .header-text h1 {
        font-size: 30px;
    }
}

/* ----------- Écrans ≤ 768px ----------- */
@media (max-width: 900px) {
    nav ul {
        display: flex;
        align-items: center;
        font-size:16px;
        justify-content: center; /* Center items properly */
        gap: 0px;
        padding: 0;
        list-style: none;
    }
    .header-text {
        position: absolute;
        top: -20%;
        left: 50%;
        transform: translate(-50%, -50%); /* Centered properly */
        text-align: center;
        width: 90%; /* Allow text to adjust */
        max-width: 400px;
    }
    .row {
        flex-direction: column;
        text-align: center;
    }

    .about-col-1,
    .about-col-2 {
        max-width: 100%;
    }

    .about-col-2 {
        padding: 0;
    }
    .project-list {
        grid-template-columns: 1fr;
    }
}

/* ----------- Écrans ≤ 1200px ----------- */
@media (max-width: 1200px) {
    .about-col-1 {
        display: none;
    }
}

#msg{
    color: #61b752;
    margin-top: -40px;
    display: block;
}
.hidden-projects {
    display: none;
}

.show-less {
    display: none;
}
#portfolio .container {
    text-align: center; /* Assure que tout est centré dans le conteneur */
}

