@media (max-width: 400px) {
    
    .container {
        position: relative; /* Permet de gérer les éléments fixes à l'intérieur */
        align-items: center;
        align-self: center;
        text-align: center;
        width: 130%;
    }
    .about-col-2 h1 {
        padding-left: 0%;
    }
    nav .fas {
        display: block;
        font-size: 25px;
    }

    nav ul {
        background: black;
        position: fixed;
        top:0;
        right: 0;
        width: 200px;
        height: 100vh;
        display: flex;
        flex-direction: column;        /* Stack vertically */
        align-items: flex-start;       /* Align to the left */
        justify-content: flex-start;   /* Start at the top */
        list-style: none;
        gap: 20px;                     /* Space between items */
        margin: 0;
    }

    nav ul li {
        width: 100%;
        margin: 30px;                     /* Remove default margin */
        text-align: center;
        padding-left: 80px;
    }

    nav ul .fas{
        position: absolute;
        top:25px;
        left:25px;
        cursor: pointer;
    }

    .about-col-1,
    .about-col-2 {
        max-width: 100%;   
    }

    /* Supprimer ce top négatif ici si ça gêne */
    .header-text {
        position: relative;
        top: auto;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        width: 90%;
        max-width: 400px;
        padding: 10px;
        z-index: 1;
    }
}
